<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Текстовые поля | UI Kit</title>
  <link rel="stylesheet" href="../css/main.css" />
</head>
<body>
  <h2>Поле ввода - обычное</h2>
  <input class="input" type="text" placeholder="Введите текст">
  <h2>Поле ввода с фокусом</h2>
  <input class="input" type="text" placeholder="Кликните сюда">
  <h2>Поле ввода с ошибкой</h2>
  <input class="input input--error" type="text" placeholder="Ошибка ввода">
  <div class="input__error-message">Введите корректное значение</div>
  <h2>Поле ввода с иконкой</h2>
  <div class="input-wrapper">
	<span class="input__icon">🔍</span>
	<input class="input input--with-icon" type="text" placeholder="Поиск">
  </div>
</body>
</html>
